<div class="card shadow .animated .flash">
    <div class="py-3 w-100 info-color-dark"></div>
    <div class="position-relative h-100">
      <div class="h-50 w-100 info-color-dark position-absolute text-white text-center">
      </div>
      <!-- Card image -->
      <div class="w-50 mx-auto position-relative ">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image">
      </div>
    </div>
    <!-- Card body -->
    <div class="card-body text-center">
      <h5 class="card-title pt-2 pb-0 mb-2">Jim Trump</h5>
      <p class="card-subtitle">UX Designer</p>
      <!-- Text -->
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, deserunt.
      </p>
      <ul class="clear">
        <li class="d-flex justify-content-between">
          <i class="mi mi-MapPin2"></i>
          <span>Ellsworth , ME</span>
        </li>
        <li class="d-flex justify-content-between">
          <i class="mi mi-Phone"></i>
          <span>123 456 789</span>
        </li>
        <li class="d-flex justify-content-between">
          <i class="mi mi-Mail"></i>
          <span>exmaple@exmaple.com</span>
        </li>
      </ul>
    </div>
    <div class="card-footer bg-transparent d-flex justify-content-between">
      <a href="#">
        <i class="mi mi-instagram" style="color:#BF0077;"></i>
      </a>
      <a href="#">
        <i class="mi mi-dribbble" style="color:#E3008C;"></i>
      </a>
      <a href="#">
        <i class="mi mi-vimeo" style="color:#0078D7;"></i>
      </a>
      <a href="#">
        <i class="mi mi-reddit-alien" style="color:#EF6950;"></i>
      </a>
    </div>
  </div>