<div class="container">
    <div class="row">
        <div class="card-body d-sm-flex justify-content-between">

            <h4 class="mb-2 mb-sm-0 pt-1">
                <span>Find your Tutor</span>
            </h4>

            <form class="d-flex justify-content-center">
                <!-- Default input -->
                <input #dis placeholder="District" aria-label="Search" class="form-control" type="search" name="diSearch">
                <button class="btn btn-primary btn-sm my-0 p waves-effect waves-light" type="submit" (click)="searchByDistrict(dis)">
                    <i class="fa fa-search"></i>
                </button>

            </form>

        </div>
    </div>
    <div class="row anyClass">
        <div class=" container">
            <app-tutor-card *ngFor="let tutor of tutors" [tutor]="tutor"></app-tutor-card>
        </div>
    </div>
</div>